body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  margin: 16px;
}

hr {
  border: 0;
  border-bottom: 1px solid #c1c1c1;
}

input[type="text"] {
  background: #ededed;
  padding: 4px 8px;
  border-radius: 5px;
  outline: none;
  transition: .3s background;
  border: 0;
  border: 2px solid #eee;
  width: calc(100% - 4px - 16px);
  margin-bottom: 8px;
}

input[type="text"]:hover {
  background: #e7e7e7;
}

input[type="text"]:focus {
  border-color: #72a7e9;
}

.output {
  font-family: monospace;
  max-height: 50%;
  overflow: auto;
}

.output span {
  display: block;
  padding: 8px;
  background: #dbdbdb;
  white-space: pre-wrap;
}

.output span:nth-child(2n) {
  background: #e3e3e3;
}